html {
  /*ESTO ES UN RESET PARA INCIAR A USAR
   REMS SE SABE QUE REMS -62.5% = 10 PX DE 16 
   PX ES UNA FORMULA RARA QUE SE USA PERO RECOMIENDAN USAR ESO*/
  font-size: 62.5%;
  box-sizing: border-box;
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*esto es para cambiar la fuete*/
body {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  line-height: 2;
}

/* GLOBALES */
.contenedor {
  max-width: 120rem; /*esto es 120*10=1200px*/
  margin: 0 auto;
}


h1 {
  font-size: 3.8rem;
}
h1 {
  font-size: 3.4rem;
}
h1 {
  font-size: 3rem;
}
h1 {
  font-size: 2.6rem;
}
/*UTILIDADES*/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fw-300 {
  font-weight: 300;
}
.centrar-texto {
  text-align: center;
}


.contenido-centrado {
  max-width: 70rem;
}

/*BOTONES*/
.boton {
  color: white;
  font-weight: 70;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  border: none;
}


.boton-verde {
  background-color: #71b100;
}

.boton-rojo {
  background-color: #C30606;
}

.boton-azul{
  background-color: #2646B4;
}

.boton-pdf{
  margin-left: 2.5rem;
  background-color: #430EA5;
}
/* HEADER */


.barra {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem; /* este es espacio hacia dentor de la barra */
  align-items: center;
}

/* navegación */
.navegacion a {
  color: rgba(
    216,
    215,
    215,
    0.8
  ); /*eso sirve para que puedas meterle transparencia*/
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.navegacion a:hover {
  /*este sirve para que cambie de color cuando pase el mouse*/
  color: #117dec;
}

.navegacion a:last-of-type {
  /*se le conoce como sedoselectores*/
  margin: 0rem;
}

/*FOOTER */
.site-footer {
  background-color: #333333;
  margin: 0;
}
.contenedor-footer {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.copy {
  margin: 0;
  color: #ffffff;
}

/*CONTACTO*/
.contacto p {
  font-size: 1.4rem;
  color: #4f4f4f;
  margin: 2rem 0 0 0;
}

legend {
  font-size: 2rem;
  color: #333333;
}
label {
  text-transform: uppercase;
  font-size: 700;
  display: block;
}

input:not([type="submit"]),
textarea,
select {
  /*SELECCIONA TODOS LOS IMPUT MENOS EL BOTON 
  O LA CLASE QUE SEA DE TYPO SUBMIT */
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #ECF3EA;
  border: none;
  border-radius: 1rem;
}

input[type="radio"] {
  width: auto; /*toma el tamaño que requeiras*/
  margin: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  height: 8rem;
}

.boton:hover {
  cursor: pointer;
}

.forma-contacto {
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
}

.alert-danger{
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

.table-border{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  background-color: white;
  border-collapse: collapse;
  text-align: left;
}
th,td{
  border: solid .1rem;
  padding: 1rem;
}
thead{
  background-color: #61B482;
  border-bottom: solid .5rem #61B482;
}
tr:nth-child(even){
  background-color: #ddd;
}